.card {
  border-radius: 15px;
}

.card-item {
  width: 205px;
}

.overlay-image {
  display:block;
  margin:auto;
  padding: 1rem;
}

hr {
  width: 75%;
  display: flex;
  align-self: center;
  margin: 4px;
  border-top-width: 2px;
}

.card-footer {
  background-color: transparent;
  border-top: none;
}

.card-body {
  height: 150px;
}

.card-deck {
  flex-direction: row;
}

.bridge-bg {
  background-image: url("http://res.cloudinary.com/bguggie/image/upload/v1425514888/wide_ggbridge_bg_teneax.jpg");
  background-size: cover;
  background-position: center;
}

.tiles-bg {
  background-image: url("http://res.cloudinary.com/bguggie/image/upload/v1425514882/darktiles_bg_gike55.jpg");
  background-repeat: repeat;
  background-size: 85px;
}

.card-header {
  flex-flow: column;
  flex-grow: 100;
  padding: 0px;
}

.card-header:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.price-text {
  color: rgb(25, 169, 86);
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 5px;
}

@media screen and (max-width: 1199px) {
  .card-item {
    width: 164px;
  }

  .card-header {
    padding: 0px;
  }

  .card-body {
    height: 125px;
  }

  .card-prop-text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 991px) {
  .card-deck {
    justify-content: center;
  }

  .default-card-deck {
    justify-content: center;
  }

  .card-header {
    padding: 0px;
  }

  .card-prop-text {
    font-size: 0.8rem;
  }

  .price-text {
    font-size: .8rem;
  }
}

@media screen and (max-width: 767px) {
  .card-item {
    width: 200px;
  }

  .card-deck {
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }

  .default-card-deck {
    flex-direction: column;
  }

  .default-card-deck-wrapper {
    justify-content: center;
  }

  .card-header {
    padding: 0px;
    overflow: hidden;
  }

  .card-body {
    height: 100px;
    overflow: hidden;
  }

  .card-prop-text {
    font-size: 0.8rem;
  }

  .price-text {
    font-size: .8rem;
  }
}

@media (min-width: 576px) {
  .card-deck .card {
    flex: inherit;
  }
}

